@font-face {
  font-family: 'Maison Neue';
  src: url('fonts/MaisonNeueWEB-Bold.woff2') format('woff2'),
       url('fonts/MaisonNeueWEB-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('fonts/MaisonNeueWEB-Book.woff2') format('woff2'),
       url('fonts/MaisonNeueWEB-Book.woff') format('woff');
  font-weight: normal;
}


@import "./scss/fonts";
@import "./scss/vimeo";
@import "./scss/animate";
@import "./scss/info-hero";
@import "./scss/projects";
@import "./scss/cursor";
@import "./scss/background";
@import "./scss/responsive";

album* {
  margin: 0;
}

:root {
  --padding: 1.5rem;
  --color-black: #000;
  --color-white: #fff;
  --color-text: var(--color-black);
  --color-text-grey: var(--color-grey);
  --color-background: var(--color-white);
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  overscroll-behavior-x: none;
}

body {
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  overscroll-behavior-x: none;
  position: relative;
}

li {
  list-style: none;
}

button {
  background: none;
  border: 0;
}
