.info-hero-section, .hero-tag, .info-tag {
    transition: transform .5s ease;
  }

.info-container {
  transition: opacity .5s ease
}
  
.slide-up {
    transform: translateY(-160px);
  }

.slide-down {
  transform: translateY(160px);
}

.projects-container {
    transition: transform .7s ease-in;
}

.off-screen {
    transform: translateX(100%);
  }

.project:hover {
    z-index: 2;
}

.project {
  transition: transform .1s;
}

.blurred {
  filter: blur(70px);
}

.blur-background {
  filter: blur(5px);
}

.bg-img {
  transition: filter 1s ease-in;
}