:root {
    --cursor-type: pointer;
}

#cursor {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    cursor: none;
    display: flex;
    opacity: 0;
    text-align: center;
    flex-wrap: nowrap;
    flex-shrink: 0;

    .cursor-bottom-row img {
        max-height: 15px;
    }
    .left-arrow {
        position: absolute;
        left: -18px;
    }
    .right-arrow {
        position: absolute;
        right: -18px;
    }
}

.cursor-bottom-row {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cursor-parentheses {
    max-height: 64px;
}

.mobile-cursor-parentheses {
    max-height: 45px;
    color: white;
}
  
.cursor-copy-container {
    margin: 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
}

.mobile-cursor {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    z-index: 1;
    color: white;

    .cursor-copy-container {
        margin: 0 8px;
    }

    .cursor-bottom-row img {
        display: unset !important;
        max-height: 10px;
    }
    .left-arrow {
        position: absolute;
        left: -4px;
    }
    .right-arrow {
        position: absolute;
        right: -4px;
    }
}