:root {
    --font-family-sans: 'Maison Neue', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-light: 'Maison Neue Book', BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-size-body: 12px;
}

html {
    font-family: var(--font-family-sans);
    color: var(--color-text);
    font-size: var(--font-size-body);
    line-height: 95%;
    letter-spacing: .3px;
    font-weight: 700;
    text-transform: uppercase;
  }

  body {
      line-height: 95%;
  }

  
h3 {
    font-size: 10px;
    font-family: var(--font-family-sans);
    text-transform: capitalize;
    color: var(--color-text);
    font-weight: normal;
    padding: 0;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    font: inherit;
    color: currentColor;
    text-transform: uppercase;
}

#cursor {
    line-height: 1;
    font-size: 23px;
}


.selected-works li {
    line-height: 110.5%;
}

.contact-list li {
    text-decoration: underline;
    line-height: 150%;
}

.info-tag {
    line-height: 0;
}