:root {
    --project-height: 85vh;
    --blur-amount: 4px;
}

.projects-section {
    position: absolute;
    bottom: 0;
    left: 1vw;

    .projects-container {
        overflow-x: scroll;
        white-space: nowrap;
        scrollbar-width: none;  /* Firefox */
        display: flex;
        flex-wrap: nowrap;
        padding: 22px 0;

        .project {
            // display: inline-block;
            margin: 0 16px 0 0;
            position: relative;

            .prev {
                height: 100%;
                width: 50%;
                position: absolute;
                z-index: 2;
                cursor: none;
            }
              
            .next {
                height: 100%;
                width: 50%;
                position: absolute;
                right: 0;
                z-index: 2;
                cursor: none;
            }
        }

        .album img {
            position: relative;
            max-width: unset;
            height: var(--project-height);
            // object-fit: cover;
            // remove
            z-index: -1;
            display: none;
            border-radius: 10px;
            width: auto;
        }
          
          .album .blurred-image {
            filter: blur(var(--blur-amount));
            position: absolute;
            top: 0;
            display: block;
            z-index: -2;
        }      
    }
    .projects-container::-webkit-scrollbar {
        display: none;  /* Safari and Chrome */
    }
}