@media (max-width: 1200px) {
    :root {
        --font-size-body: 10px;
    }
    .info-hero-section {
        .info-container {
            height: 110px;
            

            .info-section {
                grid-template-columns: (24px) fit-content(220px) 0px fit-content(90px) fit-content(230px) 0px fit-content(24px) fit-content(48px) auto fit-content(24px);
                grid-column-gap: 12px;
                grid-template-rows: 10px auto;

                h3 {
                    font-size: 9px;
                }

                .selected-works-container {
                    .selected-works {
                        max-height: 120px;
                        li {
                            padding-right: 16px;
                        }
                    }
                }
            }
                
        }
    }

    .slide-up {
        transform: translateY(-120px);
    }

    .slide-down {
        transform: translateY(120px);
      }
}

@media (max-width: 850px) {
    :root {
        --font-size-body: 8px;
    }
    .info-hero-section {
        .info-container {
            height: 95px;
            border-radius: 30px;
            

            .info-section {
                grid-template-columns: (24px) fit-content(220px) 0px fit-content(90px) fit-content(230px) 0px fit-content(24px) fit-content(48px) auto fit-content(24px);
                grid-column-gap: 10px;
                grid-template-rows: 8px auto;
                h3 {
                    font-size: 7px;
                }

                .selected-works-container {
                    .selected-works {
                        li {
                            padding-right: 12px;
                        }
                    }
                }
            }
                
        }
    }

    .slide-up {
        transform: translateY(-105px);
    }

    .slide-down {
        transform: translateY(105px);
    }
}


@media (max-width: 700px) {
    :root {
        --font-size-body: 7px;
    }
    .info-hero-section {
        .info-container {
            height: 75px;
            border-radius: 25px;
        
            .info-section {
                grid-template-columns: (24px) fit-content(220px) 0px fit-content(90px) fit-content(230px) 0px fit-content(24px) fit-content(48px) auto fit-content(24px);
                grid-column-gap: 8px;
                grid-template-rows: 6px auto;
                h3 {
                    font-size: 7px;
                }

                .selected-works-container {
                    .selected-works {
                        li {
                            padding-right: 10px;
                        }
                    }
                }
            }
                
        }
    }

    .slide-up {
        transform: translateY(-85px);
    }

    .slide-down {
        transform: translateY(85px);
    }
}

@media (max-width: 600px) {
    :root {
        --project-height: 70vh;
        --font-size-body: 10px;
    }

    #cursor {
        display: none !important;
    }

    .mobile-cursor {
        display: flex;
    }

    .projects-section {
        height: 100%;
        width: 100%;

    
        .projects-container {
            padding: 6vh 1vw;
        }
    }
    .info-tag {
        bottom: 9px;
        top: unset;
        width: 25%;
        left: 2%;
        transform: translateY(0px);
    }

    .hero-tag {
        position: fixed;
        top: 2%;
        transform: translateY(0px);
    }

    .tidball-tag-desktop {
        display: none;
    }

    .tidball-tag-mobile {
        display: block;
    }
    

    .info-hero-section {
        display: flex;
        justify-content: center;
        top: 10vh;
        position: relative;
        .info-container {
            height: 50vh;
            border-radius: 30px;
            width: 95%;
        
            .info-section {
                grid-template-columns: unset;
                display: flex;
                flex-wrap: wrap;
                margin: 30px 8px;
                height: auto;

                .about-copy {
                    width: 85%;
                    margin: 0 0 20px 0;
                }

                .about-h3, .selected-works-tag, .contact-tag {
                    width: auto;
                    margin-right: 16px;
                }

                .selected-works-container {
                    width: 70%;
                    margin: 0 0 20px 0;
                }

                .close-tag {
                    position: absolute;
                    top: 10px;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 4;
                }

                h3 {
                    font-size: 8px;
                }

                .selected-works-container {
                    .selected-works {
                        li {
                            padding-right: 10px;
                        }
                    }
                }
            }
                
        }
    }

}

