.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.clear {
    opacity: 0;
}



.o-ratio-16-9 {
    position: relative;
    height: var(--project-height);
    width: calc( var(--project-height) * 1.777777777777778 );
    // background-color: black;
    border-radius: 10px;
    overflow: hidden;
}

.vimeo-player {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;

    &__ui, &__progress {
        position: absolute;
        bottom: 32px;
        left: 50%; 
        transform: translateX(-50%);
        align-items: center;
        justify-content: center;
        color: white;
    }

    &__ui {
        display: flex;
    }

    &__progress {
        --progress: 0;
        bottom: 18px;
        z-index: 10;
        cursor: var(--cursor-type);
        height: 1px;
        width: 95%;
    }

    &__progress::before {
        position: absolute;
        top: 50%;
        left: 0%;
        width: 100%;
        height: 1px;
        content: "";
        background-color: white;
        transform: translateY(-50%);
        z-index: 10;
    }

    &__progress::after {
        position: absolute;
        top: 50%;
        left: 0%;
        width: calc(var(--progress)*100%);
        height: 2px;
        content: "";
        background-color: white;
        transform: translateY(-50%);
        z-index: 15;
        transition: width .1s linear;
    }

    &__play.active::before {
        content: "( ";
    }
    &__play.active::after {
        content: " )";
    }

    &__pause.active::before {
        content: "( ";
    }
    &__pause.active::after {
        content: " )";
    }

    button, &__seek {
        margin: 0 6px;
        padding: 0;
        cursor: var(--cursor-type);
    }

    iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        max-width: unset;  
        border-radius: 10px;
        z-index: -1;
    }

    .scroll-cover {
        width: 100%;
        height: 100%;
        position: absolute;
    }
}

